@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Sacrament Meeting Planner is a simple web application that allows Bishopric members to create and keep track of Sacrament meeting agendas.</p>
