@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Ryan Montgomery:</strong>   <a href="mailto:mon16032@byui.edu">mon16032@byui.edu</a><br />
    <strong>Scott Tolman:</strong> <a href="mailto:tol16014@byui.edu">tol16014@byui.edu</a>
</address>