@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 style="text-align:center">Sacrament Meeting Planner</h1>
    <img src="~/Content/meetinghouse.jpg" />
    <p style="text-align:center; width:auto">Sacrament Meeting Planner is a simple web application that allows Bishopric members to create and keep track of Sacrament meeting agendas.</p>
</div>